/***********************************/
 
/* MEDIA QUERIES */

/***********************************/

@media screen and (max-width: 1670px) {
    .btn-row-controls {
        &[data-move='Prev'] {
            background-color: rgba(255, 255, 255, .5);
            transform: translateX(0);
        }
        &[data-move='Next'] {
            background-color: rgba(255, 255, 255, .5);
            transform: translateX(0);
        }
        }
}

@media screen and (max-width: 1200px) {
    .player-controls {
        flex: 0 0 100%;  
        margin: 15px 0;  
    }
}

@media screen and (max-width: 1120px) {
    .top-section {
        h1 {
            padding: 0 15px;
        }
    }
    .slide {
        &-text {
            padding: 0 15px;
        }
    }
    .top-socials {
        position: static;
        padding: 0 15px;
        writing-mode: horizontal-tb;
    }

    .video {
        min-height: 480px;
    }

    .card-image {
        min-height: 320px;
        height: 320px;
    }

     .video-slider .slide {
        min-height: auto;
    }

    .modal-inner {
        width: 95%;
    }

}

@media screen and (max-width: 992px) {
    .studio {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 840px) {
    .page-header::after {
        right: -5%;
        width: 420px;
    }

    .top-section {
        align-items: center;
        padding: 0;
         h1 {
            position: static;
            margin-bottom: 30px;
            padding: 0;
            color: inherit;
        }
        .section-inner {
            margin: 0;
        }
    }
    .top-socials {
        display: none;
    }
    .slide {
        &-text {
            padding: 0;
            flex: 0 0 100%;
            max-width: 100%;
            h2 {
                font-size: 64px;
            }
        }
        &-image {
            display: none;
        }
    }

    .studio-image img {
        object-position: center;
    }

    .page-section:not(.top-section) {
        padding: 25px 0;
    } 

    .section-inner {
        padding: 25px 0;
    }

    .pt-300 {
        padding: 0 !important;
    }

    .mb-350-negative {
        margin: 0 !important;
    }

    .mb-60 {
        margin-bottom: 15px !important;
    }

    .mb-100 {
        margin-bottom: 50px !important;
    }
}

@media screen and (max-width: 768px) {
    .player-inner {
        align-items: flex-start;
    }

    .player-image {
        margin-right: 10px;
    }

    .player-info {
        max-width: 50%;
        margin-right: 0;
    }

    .player-range {
        width: 100%;
        margin: 15px 0;
    }
}

@media screen and (max-width: 680px) {
    .drawer-inner {
        max-width: 240px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }

    .footer-inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > * + * {
            margin-left: 0;
            margin-top: 15px;
        }
    }

    .drawer-menu-item {
        font-size: 32px;
    }

    body.noflow {
        padding-right: 0;
    }

    .btn-edged {
        font-size: 14px;
    }

    .modal-inner {
        padding: 30px 25px;
        h3 {
            font-size: 36px;
        }
    }

    .modal-form {
        max-width: 100%;
    }
   
}

@media screen and (max-width: 580px) {
    .page-header::after {
        right: -25vw;
        width: 320px;
    }

    .top-section::before {
        left: -140%;
    }

    .video {
        min-height: 320px;
    }

    .btn {
        width: 65px;
        height: 65px;
    }
}

@media screen and (max-width: 540px) {
    .btn-edged {
        &-left {
            padding: 15px;
        }
        
        &-right {
            padding: 15px 25px;
        }
    }

    .card-event {
        &-image {
            flex: 0 0 100%;
            max-width: 100%;
        }
        &-body {
            flex: 0 0 100%;
            max-width: 100%;
            padding: 15px;
        }
    }

    .btn {
        width: 45px;
        height: 45px;
    }

    .slide-text h2 {
        align-items: flex-start;
        font-size: 36px;
        &::after {
            transform: translate(0);
        }
    }

    .modal-inner h3 {
        font-size: 24px;
    }
}

@media screen and (max-width: 380px) {
    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }
}